<!DOCTYPE html>
<html>
  <head>
    <title>Agenda Edu - Message Box</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <div class="container">
      	<div class="row">
      		<div class="wrapper">
      	    <%= render "shared/sidebar" %>
            <div class="content">
              <div class="col-md-12">
                <div class="row">
                  <h3><span class="glyphicon glyphicon-envelope"></span>Message Box</h3>
                  <%= yield %>
                </div>
              </div>
            </div>
      		</div>
      	</div>
      </div>
    </main>
  </body>
</html>
